<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-AR" }}">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" width="210" height="54" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    <div class="navbar-nav">
      {% for item in site.data.navegacion %}
      <a class="nav-item nav-link" href="{{item.link}}">{{ item.name }}</a>
      {% endfor %}
    </div>
  </nav>
  {{ content }}
</body>

</html>